﻿<div class="container-fluid py-3">
  <h1>Angular Progressive Web Application (PWA)</h1>

  <div class="row my-5">
    <div class="col text-end">Status:</div>
    <div class="col">
      <span class="badge bg-success" *ngIf="isOnline">Online</span>
      <span class="badge bg-danger" *ngIf="!isOnline">Offline</span>
    </div>
  </div>
</div>

<div class="w-100 position-absolute top-0" *ngIf="modalVersion">
  <div class="alert alert-secondary m-2">
    <button
      type="button"
      class="btn-close position-absolute top-0 end-0 m-1"
      aria-label="Close"
      (click)="closeVersion()"
    ></button>
    A new version of this app is available.
    <a href="" (click)="updateVersion()">Update now</a>
  </div>
</div>
<!-- <div class="w-100 position-absolute bottom-0"> -->
<div>
  <!-- <div class="alert alert-secondary m-2"> -->
  <div>
    <button class="btn btn-primary m-2" (click)="closePwa()">Close PWA</button>
    <!-- Android -->
    <!-- <div *ngIf="modalPwaPlatform === 'ANDROID'" (click)="addToHomeScreen()">
      Add this WEB app to home screen
    </div> -->
    <button class="btn btn-primary" (click)="addToHomeScreen()">
      Add this WEB app to home screen
    </button>
    <!-- iOS with Safari -->
    <!-- <div *ngIf="modalPwaPlatform === 'IOS'">
      To install this WEB app on your device, tap the "Menu" button
      <img
        src="https://res.cloudinary.com/rodrigokamada/image/upload/v1641089482/Blog/angular-pwa/safari_action_button_38x50.png"
        class="ios-menu m-0"
      />
      and then "Add to home screen" button
      <i class="bi bi-plus-square"></i>
    </div> -->
  </div>
</div>

<p>
  ===========================================================================================================
</p>

<div>
  <h2>Random Pokemon Data</h2>
  <div>
    <div>
      Name: <b>{{ this.pokemonObj.name }}</b>
    </div>
    <div *ngIf="this.pokemonObj?.sprites">
      <img src="{{ this.pokemonObj?.sprites.back_default }}" />
      <img src="{{ this.pokemonObj?.sprites.back_shiny }}" />
      <img src="{{ this.pokemonObj?.sprites.front_default }}" />
      <img src="{{ this.pokemonObj?.sprites.front_shiny }}" />
    </div>
    <div style="margin-bottom: 30px">
      <div>Weight:{{ this.pokemonObj.weight }}</div>
      <div>Height: {{ this.pokemonObj.height }}</div>
    </div>
    <div style="margin-bottom: 30px">
      <label>Abilities</label>
      <ul *ngFor="let abilityList of this.pokemonObj.abilities">
        <li>
          <label>{{ abilityList.ability.name }}</label>
        </li>
      </ul>
    </div>
    <div>
      <label>Moves</label>
      <ul *ngFor="let moves of this.pokemonObj.moves">
        <li>{{ moves.move.name }}</li>
      </ul>
    </div>
  </div>
</div>
<button (click)="shinyBidoof()">Click For Shiny Bidoof</button>
<img *ngIf="showBidoof" src="{{ this.bidoof }}" />

<router-outlet />
